<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETALLE</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>DETALLE DE PRODUCTO</h1>
    <hr>
	<nav>
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/products">PRODUCTS</a></li>
			<li><a href="/products/detail">DETAIL</a></li>
			<li><a href="/users/register">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
		</ul>
	</nav>
</body>
</html>